<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css">

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div>
       <a href="../index.html">Home/</a>
        <a href="contact.html">Contact/</a>
        <a href="about.html">About</a>

    </div>
<form>
  <fieldset>
    <legend>Enter your Contact info below:</legend>
<p>
    <label for="fullname">Full Name:</label><input type="text" name="fullname" id="fullname">
</p>
<p>
    <label for="email">   Email:</label><input type="email" name="email" id="email">
</p>
<p>
    <label for="yloc">   Loaction:</label>
    <select name="" id="yloc">
      <option value="0">Moon</option>
      <option value="1">Earth</option>
    </select>
</p>
<p><label for="quest">Your Question</label><br><textarea name="quest" id="" cols="50" rows="10" maxlength="500"></textarea></p>
  </fieldset>
  <p>
  <button id="btnSendInfo">Send Info</button>
  </p>
</form>
    <script src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script >

    </script>
  </body>
</html>
